figcaption {
    font-size: 0.8em;
    font-style: italic;     
    margin-top: 1px; 
    margin-bottom: 20px; 
    text-align: center; 
    font-family: "Arial", sans-serif; 
    color: var(--secondary);
}

body.dark figcaption  {
    color: var(--primary);
}

.fc table {
    display: table;
}

h2.calendar {
    margin-top: 20px; 
    margin-bottom: 20px; 
}
